page-spot {

  .scroll-content {
    padding-top: 0 !important;
  }

  ion-navbar {
    transition: all 0.3s;

    .back-button,
    .bar-button {
      //text-shadow: 0 0 5px #000000;
      color: #fff;
    }
  }

  .header-md::after {
    background-image: none;
  }

  .header-ios .toolbar-background-ios,
  .toolbar-background-md,
  .toolbar-background-wp {
    border-style: none;
    background: none;
    border-color: rgba(0, 0, 0, 0);
  }
  //
  // .show-background {
  //   border-style: none;
  //   background: #3db5e7;
  // }

  card-spot, card-place {
    img.main {
      border-radius: 6px 6px 0 0;
    }
  }

}
