<!--
  Generated template for the ListSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar color="light">
    <ion-searchbar #searchBar [ngModel]="formatted_address" tappable (click)="presentAutocompleteModal()" placeholder="Search for a place"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMap()">
        <i class="sp-mobile-globe f30"></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <shrinking-segment-header [scrollArea]="myContent">
    <ion-toolbar color="light">
      <ion-buttons style="padding: 0 8px" left>

        <!-- <ion-select [(ngModel)]="selectedSports" multiple="true" #sportSelect hidden=true>
          <ion-option *ngFor="let sport of sports" [value]="sport">{{sport}}</ion-option>
        </ion-select> -->

        <button ion-button color="dark" round outline (click)='presentSportsModal()' style="padding: 0 8px; font-size: 14px;">Sports</button>
        <button ion-button color="dark" round outline (click)="presentCalendarModal()" style="padding: 0 8px; font-size: 14px;">Dates</button>
        <button ion-button color="dark" round outline (click)="presentFiltersModal()" style="padding: 0 8px; font-size: 14px;">Filtres</button>
      </ion-buttons>
    </ion-toolbar>
  </shrinking-segment-header>
</ion-header>


<ion-content fullscreen #myContent parallax-header>
  <div class="header-image">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <img width="220" src="https://sportihome.com/assets/icones/sportihome-white.svg" alt="Sportihome logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h3>Vivons nos sports plus fort ensemble</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h6>La communauté qui vous guide et vous héberge au plus près des spots.</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <ion-list [virtualScroll]="currentPlaces" [approxItemHeight]="'200px'">
    <div *virtualItem="let place" class="containerCard"> -->
  <ion-grid class="custom_segment">
    <ion-row>
      <ion-col text-center>
        <sportihome-segment [(ngModel)]="selectedSecondaryTab" color="secondary" (ionChange)="segmentChanged($event)">
          <sportihome-segment-button value="places" disabled="places">
            Logements
          </sportihome-segment-button>
          <sportihome-segment-button value="spots" disabled="spots">
            Spots
          </sportihome-segment-button>
        </sportihome-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div [ngSwitch]="selectedSecondaryTab">
    <ion-list *ngSwitchCase="'places'">
      <div *ngFor="let place of currentPlaces">
        <card-place [place]="place"></card-place>
      </div>
      <ion-infinite-scroll (ionInfinite)="loadMorePlaces($event)" threshold="120px" *ngIf="currentPlaces && currentPlaces.length < totalPlacesCount">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
    <ion-list *ngSwitchCase="'spots'">
      <div *ngFor="let spot of currentSpots">
        <card-spot [spot]="spot"></card-spot>
      </div>
      <ion-infinite-scroll (ionInfinite)="loadMoreSpots($event)" threshold="120px" *ngIf="currentSpots && currentSpots.length < totalSpotsCount">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>
  <!-- <ion-fab bottom right>
    <button ion-fab (click)="openMap()"><i class="sp-mobile-globe f40 mt9"></i></button>
  </ion-fab> -->
</ion-content>
