page-list-search {
  .toolbar-ios {
    min-height: auto;
  }

  .header-image {
    background-image: url("https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950");
    height: calc(100% - 30px);
    color: white;

    ion-grid {
      height: 100%;
      justify-content: flex-end;
      padding-bottom: 35px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .bar-button{
    border-color: #dadada!important;
  }

  .containerCard {
    margin-top: 30px;
  }

  .containerCard:first-child {
    margin-top: 0;
  }

  .cardPlaceSpot {
    padding-top: 15px;

    img.main {
      height: 220px;
    }

    .item {
      padding-left: 8px;
    }

    .right_avatar {
      top: 196px;
    }
  }
}
