page-item-detail {

  .imageSlider {
    height: 40vh;
  }

  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    margin-top: 40px;
    width: 100%;
    background: white;
    position: absolute;
  }
}
