page-hobbies-select-multiple {
  .blue_gradient_background  {
    background: #67c9ff;
    background: -moz-linear-gradient(-45deg, #67c9ff 0%, #3399e5 100%);
    background: -webkit-linear-gradient(-45deg, #67c9ff 0%, #3399e5 100%);
    background: linear-gradient(135deg, #67c9ff 0%, #3399e5 100%);
  }

  .toolbar-background {
    background: transparent;
    border: unset !important;
    border-color: unset !important;
  }

  .toolbar-title {
    color: white;
  }

  .button-inner {
    color: white;
  }

  .searchbar-ios {
    border-bottom: unset!important;
    background: transparent!important;
    box-shadow: 0 11px 8px -10px rgba(0,0,0,0.2);
  }

}
