@charset "UTF-8";

@font-face {
  font-family: "mobile-app";
  src:url("../assets/fonts/mobile-app.eot");
  src:url("../assets/fonts/mobile-app.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/mobile-app.woff") format("woff"),
    url("../assets/fonts/mobile-app.ttf") format("truetype"),
    url("../assets/fonts/mobile-app.svg#mobile-app") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mobile-app" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sp-"]:before,
[class*=" sp-"]:before {
  font-family: "mobile-app" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sp-mobile-trash-1:before {
  content: "\61";
}
.sp-mobile-smile-logo:before {
  content: "\62";
}
.sp-mobile-room:before {
  content: "\63";
}
.sp-mobile-share:before {
  content: "\67";
}
.sp-mobile-insolite:before {
  content: "\69";
}
.sp-mobile-tools:before {
  content: "\6a";
}
.sp-mobile-tous:before {
  content: "\6b";
}
.sp-mobile-tea:before {
  content: "\6c";
}
.sp-mobile-social-share:before {
  content: "\6d";
}
.sp-mobile-save:before {
  content: "\6e";
}
.sp-mobile-quality:before {
  content: "\6f";
}
.sp-mobile-pig:before {
  content: "\70";
}
.sp-mobile-quality-1:before {
  content: "\73";
}
.sp-mobile-question:before {
  content: "\74";
}
.sp-mobile-question-1:before {
  content: "\75";
}
.sp-mobile-like:before {
  content: "\76";
}
.sp-mobile-local-login:before {
  content: "\77";
}
.sp-mobile-locate:before {
  content: "\78";
}
.sp-mobile-menu:before {
  content: "\7a";
}
.sp-mobile-message:before {
  content: "\41";
}
.sp-mobile-plus:before {
  content: "\42";
}
.sp-mobile-key:before {
  content: "\43";
}
.sp-mobile-legal:before {
  content: "\44";
}
.sp-mobile-heart:before {
  content: "\45";
}
.sp-mobile-heart-full:before {
  content: "\79";
}
.sp-mobile-full:before {
  content: "\46";
}
.sp-mobile-maison:before {
  content: "\65";
}
.sp-mobile-house-star:before {
  content: "\66";
}
.sp-mobile-globe:before {
  content: "\47";
}
.sp-mobile-geolocate:before {
  content: "\48";
}
.sp-mobile-filter:before {
  content: "\49";
}
.sp-mobile-feet:before {
  content: "\4a";
}
.sp-mobile-compas:before {
  content: "\4b";
}
.sp-mobile-close:before {
  content: "\4c";
}
.sp-mobile-arm:before {
  content: "\4d";
}
.sp-mobile-appartement:before {
  content: "\4e";
}
.sp-mobile-add-spot-map:before {
  content: "\4f";
}
.sp-mobile-add-spot:before {
  content: "\50";
}
.sp-mobile-contact:before {
  content: "\71";
}
.sp-mobile-backpack:before {
  content: "\72";
}
.sp-mobile-beauty:before {
  content: "\51";
}
.sp-mobile-bulb:before {
  content: "\52";
}
.sp-mobile-direction:before {
  content: "\54";
}
.sp-mobile-hand-shake:before {
  content: "\56";
}
.sp-mobile-spot:before {
  content: "\57";
}
.sp-mobile-sportihome:before {
  content: "\58";
}
.sp-mobile-bulb-1:before {
  content: "\59";
}
.sp-mobile-full-star:before {
  content: "\5a";
}
.sp-mobile-agenda:before {
  content: "\30";
}
.sp-mobile-search2:before {
  content: "\31";
}
.sp-mobile-shaka:before {
  content: "\64";
}
.sp-mobile-tumbup:before {
  content: "\68";
}
.sp-mobile-key-1:before {
  content: "\32";
}
.sp-mobile-play:before {
  content: "\34";
}
.sp-mobile-address:before {
  content: "\35";
}
.sp-mobile-ssp:before {
  content: "\36";
}
.sp-mobile-picture:before {
  content: "\37";
}
.sp-mobile-profil:before {
  content: "\33";
}
.sp-mobile-why:before {
  content: "\38";
}
.sp-mobile-magazine:before {
  content: "\39";
}
.sp-mobile-check:before {
  content: "\21";
}
.sp-mobile-error-1:before {
  content: "\24";
}
.sp-mobile-calendar2:before {
  content: "\25";
}
.sp-mobile-import:before {
  content: "\26";
}
.sp-mobile-login:before {
  content: "\27";
}
.sp-mobile-loupe:before {
  content: "\28";
}
.sp-mobile-mobile:before {
  content: "\29";
}
.sp-mobile-spot-app:before {
  content: "\2a";
}
.sp-mobile-left:before {
  content: "\22";
}
.sp-mobile-up:before {
  content: "\2c";
}
.sp-mobile-down:before {
  content: "\2d";
}
.sp-mobile-wash:before {
  content: "\2e";
}
.sp-mobile-washingmachine:before {
  content: "\2f";
}
.sp-mobile-wc:before {
  content: "\3a";
}
.sp-mobile-wc-private:before {
  content: "\3b";
}
.sp-mobile-welcomepets:before {
  content: "\3c";
}
.sp-mobile-tv:before {
  content: "\3d";
}
.sp-mobile-twinbed:before {
  content: "\3e";
}
.sp-mobile-wifi:before {
  content: "\3f";
}
.sp-mobile-towels:before {
  content: "\40";
}
.sp-mobile-soap:before {
  content: "\5b";
}
.sp-mobile-singlebed:before {
  content: "\5d";
}
.sp-mobile-rank:before {
  content: "\5e";
}
.sp-mobile-relax:before {
  content: "\5f";
}
.sp-mobile-room2:before {
  content: "\60";
}
.sp-mobile-shared2:before {
  content: "\7b";
}
.sp-mobile-shared-room:before {
  content: "\7c";
}
.sp-mobile-shower:before {
  content: "\7d";
}
.sp-mobile-sofabed:before {
  content: "\7e";
}
.sp-mobile-studio:before {
  content: "\5c";
}
.sp-mobile-takeoff:before {
  content: "\e000";
}
.sp-mobile-party:before {
  content: "\e001";
}
.sp-mobile-petsaround:before {
  content: "\e002";
}
.sp-mobile-move:before {
  content: "\e003";
}
.sp-mobile-lock:before {
  content: "\e004";
}
.sp-mobile-moon:before {
  content: "\e005";
}
.sp-mobile-parking:before {
  content: "\e006";
}
.sp-mobile-private-room:before {
  content: "\e007";
}
.sp-mobile-private2:before {
  content: "\e008";
}
.sp-mobile-paper:before {
  content: "\e009";
}
.sp-mobile-pool:before {
  content: "\e00a";
}
.sp-mobile-oven:before {
  content: "\e00b";
}
.sp-mobile-nosmoking:before {
  content: "\e00c";
}
.sp-mobile-kids:before {
  content: "\e00d";
}
.sp-mobile-heating:before {
  content: "\e00e";
}
.sp-mobile-hoover:before {
  content: "\e00f";
}
.sp-mobile-hairdryer:before {
  content: "\e010";
}
.sp-mobile-good-spot:before {
  content: "\e011";
}
.sp-mobile-garden:before {
  content: "\e012";
}
.sp-mobile-garage:before {
  content: "\e013";
}
.sp-mobile-games:before {
  content: "\e014";
}
.sp-mobile-hanger:before {
  content: "\e015";
}
.sp-mobile-handicool:before {
  content: "\e016";
}
.sp-mobile-iron:before {
  content: "\e017";
}
.sp-mobile-internet:before {
  content: "\e018";
}
.sp-mobile-living:before {
  content: "\e019";
}
.sp-mobile-microwave:before {
  content: "\e01a";
}
.sp-mobile-livingroom:before {
  content: "\e01b";
}
.sp-mobile-jacuzzi:before {
  content: "\e01c";
}
.sp-mobile-local:before {
  content: "\e01d";
}
.sp-mobile-land:before {
  content: "\e01e";
}
.sp-mobile-sauna:before {
  content: "\e01f";
}
.sp-mobile-toaster:before {
  content: "\e020";
}
.sp-mobile-tourist:before {
  content: "\e021";
}
.sp-mobile-fire:before {
  content: "\e022";
}
.sp-mobile-fitness:before {
  content: "\e023";
}
.sp-mobile-freezer:before {
  content: "\e024";
}
.sp-mobile-fridge:before {
  content: "\e025";
}
.sp-mobile-entertainment:before {
  content: "\e026";
}
.sp-mobile-diner:before {
  content: "\e027";
}
.sp-mobile-eat:before {
  content: "\e028";
}
.sp-mobile-deepfreezer:before {
  content: "\e029";
}
.sp-mobile-crockery:before {
  content: "\e02a";
}
.sp-mobile-dryer:before {
  content: "\e02c";
}
.sp-mobile-cook:before {
  content: "\e02d";
}
.sp-mobile-dry:before {
  content: "\e02e";
}
.sp-mobile-doublebed:before {
  content: "\e02f";
}
.sp-mobile-dishwasher:before {
  content: "\e030";
}
.sp-mobile-confort:before {
  content: "\e031";
}
.sp-mobile-eye:before {
  content: "\e032";
}
.sp-mobile-coffee:before {
  content: "\e033";
}
.sp-mobile-blender:before {
  content: "\e034";
}
.sp-mobile-boiler:before {
  content: "\e035";
}
.sp-mobile-breakfast:before {
  content: "\e036";
}
.sp-mobile-babybath:before {
  content: "\e037";
}
.sp-mobile-babybed:before {
  content: "\e038";
}
.sp-mobile-babychair:before {
  content: "\e039";
}
.sp-mobile-bath:before {
  content: "\e03b";
}
.sp-mobile-bathroom-1:before {
  content: "\e03d";
}
.sp-mobile-bathroom-private:before {
  content: "\e03e";
}
.sp-mobile-bbq:before {
  content: "\e03c";
}
.sp-mobile-bedroom:before {
  content: "\e03f";
}
.sp-mobile-baby:before {
  content: "\e040";
}
.sp-mobile-aircon:before {
  content: "\e041";
}
.sp-mobile-add-spot-map2:before {
  content: "\e042";
}
.sp-mobile-addplus:before {
  content: "\e043";
}
.sp-mobile-exportcal:before {
  content: "\e044";
}
.sp-mobile-housefullroof:before {
  content: "\23";
}
.sp-mobile-landline:before {
  content: "\e045";
}
.sp-mobile-rank-down:before {
  content: "\e046";
}
.sp-mobile-rank-up:before {
  content: "\e047";
}
.sp-mobile-takeoffline:before {
  content: "\e048";
}
.sp-mobile-video:before {
  content: "\e049";
}
.sp-mobile-musculation:before {
  content: "\e04a";
}
.sp-mobile-alpinisme:before {
  content: "\e04b";
}
.sp-mobile-apnee:before {
  content: "\e04c";
}
.sp-mobile-zen:before {
  content: "\e04d";
}
.sp-mobile-yoga:before {
  content: "\e04e";
}
.sp-mobile-wingsuit:before {
  content: "\e04f";
}
.sp-mobile-windsurf:before {
  content: "\e050";
}
.sp-mobile-value-for-money:before {
  content: "\e051";
}
.sp-mobile-via-ferrata:before {
  content: "\e052";
}
.sp-mobile-tennis:before {
  content: "\e053";
}
.sp-mobile-swimming:before {
  content: "\e054";
}
.sp-mobile-surf:before {
  content: "\e055";
}
.sp-mobile-stay:before {
  content: "\e056";
}
.sp-mobile-wakeboard:before {
  content: "\e057";
}
.sp-mobile-volleyball:before {
  content: "\e058";
}
.sp-mobile-trash:before {
  content: "\e059";
}
.sp-mobile-squash:before {
  content: "\e05a";
}
.sp-mobile-spot-plus:before {
  content: "\e05b";
}
.sp-mobile-snowboard:before {
  content: "\e05c";
}
.sp-mobile-searchcal:before {
  content: "\e05d";
}
.sp-mobile-shaka-1:before {
  content: "\e05e";
}
.sp-mobile-roller:before {
  content: "\e05f";
}
.sp-mobile-room-1:before {
  content: "\e060";
}
.sp-mobile-speleologie:before {
  content: "\e061";
}
.sp-mobile-shared:before {
  content: "\e062";
}
.sp-mobile-sport-de-combat:before {
  content: "\e063";
}
.sp-mobile-sportihomemagazine:before {
  content: "\e064";
}
.sp-mobile-single-travellers:before {
  content: "\e065";
}
.sp-mobile-skateboard:before {
  content: "\e066";
}
.sp-mobile-ski:before {
  content: "\e067";
}
.sp-mobile-spot-marker:before {
  content: "\e068";
}
.sp-mobile-ski-de-randonnee:before {
  content: "\e069";
}
.sp-mobile-scuba-diving:before {
  content: "\e06a";
}
.sp-mobile-register:before {
  content: "\e06b";
}
.sp-mobile-private:before {
  content: "\e06c";
}
.sp-mobile-playstores:before {
  content: "\e06d";
}
.sp-mobile-save-1:before {
  content: "\e06e";
}
.sp-mobile-sailing:before {
  content: "\e06f";
}
.sp-mobile-rafting:before {
  content: "\e070";
}
.sp-mobile-running-trail:before {
  content: "\e071";
}
.sp-mobile-quad:before {
  content: "\e072";
}
.sp-mobile-parapente:before {
  content: "\e073";
}
.sp-mobile-parachutisme:before {
  content: "\e074";
}
.sp-mobile-motocross:before {
  content: "\e075";
}
.sp-mobile-mountain-bike:before {
  content: "\e076";
}
.sp-mobile-multi-travellers:before {
  content: "\e077";
}
.sp-mobile-play-1:before {
  content: "\e078";
}
.sp-mobile-new-home:before {
  content: "\e079";
}
.sp-mobile-new-message:before {
  content: "\e07a";
}
.sp-mobile-paddle-surf:before {
  content: "\e07b";
}
.sp-mobile-message-1:before {
  content: "\e07c";
}
.sp-mobile-magazine-1:before {
  content: "\e07d";
}
.sp-mobile-kitesurf:before {
  content: "\e07e";
}
.sp-mobile-importcal:before {
  content: "\e07f";
}
.sp-mobile-inconnu:before {
  content: "\e080";
}
.sp-mobile-insolite-1:before {
  content: "\e081";
}
.sp-mobile-horse-riding:before {
  content: "\e082";
}
.sp-mobile-house-1:before {
  content: "\e083";
}
.sp-mobile-key-2:before {
  content: "\e084";
}
.sp-mobile-jetski:before {
  content: "\e086";
}
.sp-mobile-football:before {
  content: "\e087";
}
.sp-mobile-google:before {
  content: "\e088";
}
.sp-mobile-handball:before {
  content: "\e089";
}
.sp-mobile-help:before {
  content: "\e08a";
}
.sp-mobile-hike:before {
  content: "\e08b";
}
.sp-mobile-home-share:before {
  content: "\e08c";
}
.sp-mobile-golf:before {
  content: "\e08d";
}
.sp-mobile-fishing:before {
  content: "\e08e";
}
.sp-mobile-fitness-1:before {
  content: "\e08f";
}
.sp-mobile-earth-1:before {
  content: "\e090";
}
.sp-mobile-earn:before {
  content: "\e02b";
}
.sp-mobile-dvd:before {
  content: "\e091";
}
.sp-mobile-facebook:before {
  content: "\e092";
}
.sp-mobile-difficulty:before {
  content: "\e093";
}
.sp-mobile-climbing:before {
  content: "\e094";
}
.sp-mobile-connect:before {
  content: "\e095";
}
.sp-mobile-bungee:before {
  content: "\e096";
}
.sp-mobile-chat:before {
  content: "\e097";
}
.sp-mobile-cross-country-ski:before {
  content: "\e098";
}
.sp-mobile-cyclisme:before {
  content: "\e099";
}
.sp-mobile-danse:before {
  content: "\e09a";
}
.sp-mobile-google-1:before {
  content: "\e09b";
}
.sp-mobile-applestore:before {
  content: "\e09d";
}
.sp-mobile-apartment:before {
  content: "\e09e";
}
.sp-mobile-bathroom:before {
  content: "\e09f";
}
.sp-mobile-basketball:before {
  content: "\e0a0";
}
.sp-mobile-bmx:before {
  content: "\e0a1";
}
.sp-mobile-autre:before {
  content: "\e0a2";
}
.sp-mobile-clean:before {
  content: "\53";
}
.sp-mobile-earth:before {
  content: "\55";
}
.sp-mobile-canoe-kayak:before {
  content: "\e0a3";
}
.sp-mobile-equitation:before {
  content: "\e085";
}
.sp-mobile-escalade:before {
  content: "\e0a5";
}
.sp-mobile-natation:before {
  content: "\e0a7";
}
.sp-mobile-peche:before {
  content: "\e0a8";
}
.sp-mobile-plongee:before {
  content: "\e0a9";
}
.sp-mobile-randonnee:before {
  content: "\e0aa";
}
.sp-mobile-share-white:before {
  content: "\e0ab";
}
.sp-mobile-ski-de-fond:before {
  content: "\e0ac";
}
.sp-mobile-stand-up-paddle:before {
  content: "\e0ad";
}
.sp-mobile-voile:before {
  content: "\e0ae";
}
.sp-mobile-vtt:before {
  content: "\e0af";
}
.sp-mobile-brokenegg:before {
  content: "\e0b0";
}
.sp-mobile-android:before {
  content: "\e0b1";
}
.sp-mobile-apple:before {
  content: "\e0b2";
}
.sp-mobile-cb:before {
  content: "\e0b3";
}
.sp-mobile-rescue:before {
  content: "\e0b4";
}
.sp-mobile-messenger:before {
  content: "\e0b5";
}
.sp-mobile-facebook2:before {
  content: "\e0b6";
}
.sp-right:before {
  content: "\2b";
}
.sp-mobile-coins:before {
  content: "\e03a";
}
.sp-mobile-aide:before {
  content: "\e09c";
}
.sp-mobile-downvote:before {
  content: "\e0a4";
}
.sp-mobile-referral:before {
  content: "\e0a6";
}
.sp-mobile-upvote:before {
  content: "\e0b7";
}
