// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
p {
  font-size: 14px;
}


.rating {
  ul {
    padding: 0px;

    &.rating li {
      padding: 0 !important;
      margin: 0 !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 15px;
      }
    }
  }
}
.img-user {
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 100%;
  border: 2px solid #fff;
  overflow: hidden;
}

.imageSlider {
  position: relative;
  height: 40vh;
  width: 100%;

  ion-slides {
    img {
      height: 40vh;
      min-width: 100%;
      object-fit: cover;
      object-position: 50% 0;
    }

    .swiper-pagination {
      top: 20px;
      bottom: inherit;
    }
  }

  .profilePic {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate3d(-50%,0,0);
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    z-index: 3000;
  }
}

.item-profile {
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: 250px;
}

.item-detail {
  margin-top: 40px;
  width: 100%;
  background: white;
  position: absolute;
}
