
<div class="cardPlaceSpot" *ngIf="spot" tappable (click)="openSpot(spot)">
  <div class="right_avatar">
    <img src="https://test.sportihome.com/assets/users/default-avatar.png" class="img_user">
    <img ng-src="/assets/users/stayshare.svg" alt="stayshare" class="responsive-img engagementIcon" src="https://test.sportihome.com/assets/users/stayshare.svg">
  </div>
  <img class="main" [src]="'https://test.sportihome.com/uploads/spots/' + spot._id + '/thumb/' + spot.pictures[0]" />
  <ion-item>
    <p class="rating"><rating [ngModel]="spot.rating.overallRating" readOnly="true"></rating> ({{spot.rating.numberOfRatings || 0}} avis)</p>
    <p><b *ngIf="spot.distance">{{spot.distance/1000 | number: '1.1-1'}} KM </b>{{spot.name}}</p>
  </ion-item>
</div>
