page-search {
  #map {
    width: 100%;
    position: absolute;
    height: calc(100% - 250px);

    .search_relaunch {
      position: absolute;
      top: 53px;
      text-align: center;
      width: 100%;
      z-index: 100000;
    }
  }

  #search_content {
    width: 100%;
    bottom: 0;
    height: 250px;
    position: absolute;

    .swiper-slide {
      width: 80%;
      margin: 0 2px;
      max-width: 260px;
    }

    .swiper-slide:last-child {
      margin-right: calc(100vw - 256px);
    }

  }
}

content-drawer {
  background-color: #34495e !important;
}

content-drawer .content {
  padding: 20px;
}
