<ion-header no-border>
  <ion-toolbar color="clear">
    <ion-buttons left>
      <button ion-button icon-only (click)="closeMapModal()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar #searchBar [ngModel]="formatted_address" (click)="presentAutocompleteModal()" placeholder="Search for a place"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div #map id="map">
    <div class="search_relaunch" *ngIf="showRelaunch">
      <button ion-button round (click)="relaunchSearch()">Relancer la recherche</button>
    </div>
  </div>


  <div id="search_content">

    <ion-segment [(ngModel)]="selectedSecondaryTab" color="secondary">
      <ion-segment-button value="places" disabled="places">
        <ion-icon name="camera"></ion-icon> Logements
      </ion-segment-button>
      <ion-segment-button value="spots" disabled="spots">
        <ion-icon name="bookmark"></ion-icon> Spots
      </ion-segment-button>
    </ion-segment>

    <div id="cards" [ngSwitch]="selectedSecondaryTab">

      <ion-slides *ngSwitchCase="'places'" [initialSlide]="this.currentPlaceIndex" slidesPerView="auto" #placesSlider (ionSlideDidChange)="placeSlideChanged()" zoom="false">
        <ion-slide *ngFor="let place of currentPlaces">
          <card-place [place]="place"></card-place>
        </ion-slide>
      </ion-slides>

      <ion-slides *ngSwitchCase="'spots'" [initialSlide]="this.currentSpotIndex" slidesPerView="auto" #spotsSlider (ionSlideDidChange)="spotSlideChanged()" zoom="false">
        <ion-slide *ngFor="let spot of currentSpots">
          <card-spot [spot]="spot"></card-spot>
        </ion-slide>
      </ion-slides>

      <!-- <ion-fab bottom right>
        <button ion-fab (click)="closeMapModal()"><ion-icon name="list"></ion-icon></button>
      </ion-fab> -->

    </div>
  </div>
</ion-content>

<!-- <content-drawer [options]="drawerOptions">
  <ion-card *ngFor="let place of currentPlaces">
    <img class="main" [src]="'https://test.sportihome.com/uploads/places/' + place._id + '/thumb/' + place.pictures[0]" />
    <ion-card-content>
      <p>{{place.private}} - {{place.home.travellers}} voyageurs</p>
      <h2>{{place.name}}</h2>
      <h3>{{place.address && place.address.locality}}</h3>
      <h3>À partir de {{place.home.price.defaultPrice|currency:'EUR':'€':0}} par nuit</h3>
      <p>
        <ion-icon name="text"></ion-icon>
        <rating [ngModel]="place.rating.overallRating" readOnly="true"></rating> ({{place.rating.numberOfRatings || 0}} avis)
      </p>
    </ion-card-content>
  </ion-card>
</content-drawer> -->
