<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="presentModal()" placeholder="Search for a place"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list [hidden]="autocompleteItems.length == 0" style="position: absolute; z-index: 1000; width: 100%;">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <div #map id="map">
    <div class="search_relaunch" *ngIf="showRelaunch">
      <button ion-button round (click)="relaunchSearch()">Relancer la recherche</button>
    </div>
  </div>


  <div id="search_content">

    <ion-segment [(ngModel)]="selectedSecondaryTab" color="secondary">
      <ion-segment-button value="places" disabled="places">
        <ion-icon name="camera"></ion-icon> Logements
      </ion-segment-button>
      <ion-segment-button value="spots" disabled="spots">
        <ion-icon name="bookmark"></ion-icon> Spots
      </ion-segment-button>
    </ion-segment>

    <div id="cards" [ngSwitch]="selectedSecondaryTab">

      <ion-slides *ngSwitchCase="'places'" [initialSlide]="this.currentPlaceIndex" slidesPerView="auto" #placesSlider (ionSlideDidChange)="placeSlideChanged()" zoom="false">
        <ion-slide *ngFor="let place of currentPlaces" (click)="openPlace(place)">
          <card-place [place]="place"></card-place>
        </ion-slide>
      </ion-slides>

      <ion-slides *ngSwitchCase="'spots'" [initialSlide]="this.currentSpotIndex" slidesPerView="auto" #spotsSlider (ionSlideDidChange)="spotSlideChanged()" zoom="false">
        <ion-slide *ngFor="let spot of currentSpots" (click)="openSpot(spot)">
          <ion-card nowrap no-margin>
            <img [src]="'https://test.sportihome.com/uploads/spots/' + spot._id + '/thumb/' + spot.pictures[0]" />
            <div class="card-title">{{spot.name}}</div>
            <div class="card-subtitle"><span *ngFor="let hobby of spot.hobbies">{{hobby}} </span></div>
            <ion-card-content>
              <p>
                The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

    </div>
  </div>
</ion-content>

<!-- <content-drawer [options]="drawerOptions">
  <ion-card *ngFor="let place of currentPlaces">
    <img class="main" [src]="'https://test.sportihome.com/uploads/places/' + place._id + '/thumb/' + place.pictures[0]" />
    <ion-card-content>
      <p>{{place.private}} - {{place.home.travellers}} voyageurs</p>
      <h2>{{place.name}}</h2>
      <h3>{{place.address && place.address.locality}}</h3>
      <h3>À partir de {{place.home.price.defaultPrice|currency:'EUR':'€':0}} par nuit</h3>
      <p>
        <ion-icon name="text"></ion-icon>
        <rating [ngModel]="place.rating.overallRating" readOnly="true"></rating> ({{place.rating.numberOfRatings || 0}} avis)
      </p>
    </ion-card-content>
  </ion-card>
</content-drawer> -->
