
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="user">{{user.identity.firstName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="user">
    <img class="imageUserProfile" width="60px" height="60px" [src]="user.avatar && 'https://test.sportihome.com/uploads/users/'+user._id+'/thumb/'+user.avatar || 'https://test.sportihome.com/assets/users/default-avatar.png'" alt="">
    <h1 class="mt10">{{user.identity.firstName}}</h1>
    <p *ngIf="user.hobbies && user.hobbies.length" class="mb1"><span *ngFor="let hobby of user.hobbies"><i class="sp-mobile-{{hobby}} f20"></i> </span></p>

    <div class="border relative p5 mt15" *ngIf="user.identity.about">
      <span class="title_about_user bold">En savoir plus sur {{user.identity.firstName}}</span>
      <p>{{user.identity.about}}</p>
    </div>

    <ion-item class="pl1 mt10">
      <h2 class=" bold">Membre depuis</h2>
      <p class="mt10">{{user.creation}}</p>
    </ion-item>
    <ion-item class="pl1">
      <h2 class="bold">Informations vérifiées</h2>
      <p class="pl5 mt10">Addresse Email</p>
      <p class="pl5" *ngIf="user.identity.mobileVerified">Numéro de téléphone</p>
      <p class="pl5" *ngIf="user.facebook && user.facebook.id">Compte Facebook</p>
    </ion-item>
    <ion-list>
      <button *ngIf="places && places.length" class="pl1" ion-item (click)="annoncesModal()">
          {{places.length}} Annonce<span *ngIf="places && places.length > 1">s</span>
      </button>
      <button *ngIf="spots && spots.length" class="pl1" ion-item (click)="spotModal()">
          {{spots.length}} Spot<span *ngIf="spots.length > 1">s</span>
      </button>
      <button *ngIf="hostComments && hostComments.length" class="pl1" ion-item (click)="hostCommentsModal()">
          {{hostComments.length}} Commentaire<span *ngIf="hostComments.length > 1">s</span> d'hôte<span *ngIf="hostComments.length > 1">s</span>
      </button>
      <button *ngIf="guestComments && guestComments.length" class="pl1" ion-item (click)="guestCommentsModal()">
          {{guestComments.length}} Commentaire<span *ngIf="guestComments.length > 1">s</span> de voyageur<span *ngIf="guestComments.length > 1">s</span>
      </button>
    </ion-list>
  </div>
</ion-content>
