
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="user">{{user.identity.firstName}}</ion-title>
    <ion-title *ngIf="!user"><img width="100%" src="https://sportihome.com/assets/icones/sportihome-white.svg" alt="Sportihome logo"></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="wrapper_slider_mySpace mb20">
    <ion-slides zoom="false" >
      <ion-slide *ngFor="let hobby of exploreHobbies; let i = index;">
        <img class="explore_hobby_img" src="assets/imgs/miniSlide/{{hobby}}.jpg">
        <div class="explore_hobby_overlay">
          <span>{{exploreHobbiesLabel[i]}}<br>
              <b>{{statsPlace[i]}} logements</b>
              <b>{{statsSpot[i]}} spots</b>
          </span>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-grid class="no_padding">
    <ion-row class="no_padding">
      <ion-col class="no_padding">
        <sportihome-segment [(ngModel)]="selectedSecondaryTab" color="secondary" (ionChange)="segmentChanged($event)">
          <sportihome-segment-button value="places" disabled="places">
            Logements
          </sportihome-segment-button>
          <sportihome-segment-button value="spots" disabled="spots">
            Spots
          </sportihome-segment-button>
        </sportihome-segment>
      </ion-col>
    </ion-row>
  </ion-grid>


  <h2 *ngIf="!user && newPlaces && newPlaces.length && selectedSecondaryTab == 'places'" class="mt20">Nouveau logements</h2>
  <h2 *ngIf="!user && newSpots && newSpots.length && selectedSecondaryTab == 'spots'" class="mt20">Nouveau spots</h2>

  <div style="height: 210px" *ngIf="!user">
    <ion-slides zoom="false" *ngIf="!user && newPlaces && newPlaces.length && selectedSecondaryTab == 'places'">
      <ion-slide *ngFor="let place of newPlaces">
        <card-place [place]="place"></card-place>
      </ion-slide>
    </ion-slides>

    <ion-slides zoom="false" *ngIf="!user &&  newSpots && newSpots.length && selectedSecondaryTab == 'spots'">
      <ion-slide *ngFor="let spot of newSpots">
        <card-spot [spot]="spot"></card-spot>
      </ion-slide>
    </ion-slides>
  </div>


  <div *ngIf="user" class="mt20">
    <h2  *ngIf="user.lastVisited?.spots && selectedSecondaryTab == 'spots'">Vu récemment</h2>
    <ion-slides zoom="false" *ngIf="user.lastVisited?.spots && selectedSecondaryTab == 'spots'">
      <ion-slide *ngFor="let spot of user.lastVisited?.spots">
        <card-spot [spot]="spot"></card-spot>
      </ion-slide>
    </ion-slides>

    <h2 *ngIf="user.lastVisited?.places && selectedSecondaryTab == 'places'">Vu récemment</h2>
    <ion-slides zoom="false" *ngIf="user.lastVisited?.places && selectedSecondaryTab == 'places'">
      <ion-slide *ngFor="let place of user.lastVisited?.places">
        <card-place [place]="place" [favorite]="isFavoritePlace(place._id)"></card-place>
      </ion-slide>
    </ion-slides>


    <ion-list>
      <button *ngIf="places && places.length && selectedSecondaryTab == 'places'" class="pl1" ion-item (click)="annoncesModal()">
          Vos Annonces
      </button>
      <button *ngIf="spots && spots.length && selectedSecondaryTab == 'spots'" class="pl1" ion-item (click)="spotModal()">
          Vos Spots
      </button>
      <button *ngIf="favPlaces && favPlaces.length  && selectedSecondaryTab == 'places'" class="pl1" ion-item (click)="favoritePlacesModal()">
          {{favPlaces.length}} Logement<span *ngIf="favPlaces && favPlaces.length > 1">s</span> favori<span *ngIf="favPlaces && favPlaces.length > 1">s</span>
      </button>
      <button *ngIf="favSpots && favSpots.length && selectedSecondaryTab == 'spots'" class="pl1" ion-item (click)="favoriteSpotsModal()">
          {{favSpots.length}} Spot<span *ngIf="favSpots && favSpots.length > 1">s</span> favori<span *ngIf="favSpots && favSpots.length > 1">s</span>
      </button>
      <button *ngIf="hostComments && hostComments.length" class="pl1" ion-item (click)="hostCommentsModal()">
          {{hostComments.length}} Commentaire<span *ngIf="hostComments.length > 1">s</span> d'hôte<span *ngIf="hostComments.length > 1">s</span>
      </button>
      <button *ngIf="guestComments && guestComments.length" class="pl1" ion-item (click)="guestCommentsModal()">
          {{guestComments.length}} Commentaire<span *ngIf="guestComments.length > 1">s</span> de voyageur<span *ngIf="guestComments.length > 1">s</span>
      </button>
    </ion-list>

  </div>
</ion-content>
