<ion-header [elasticHeader]="myContent">

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content fullscreen #myContent>
  <!-- =================================================================================  -->
  <!-- ================================= imageSlider ===================================  -->
  <!-- =================================================================================  -->
  <div class="imageSlider" *ngIf="place">
    <ion-slides class="imageSlider" pager="true" paginationType="fraction" slides-per-view="1" autoplay="3000" loop="true" zoom="true">
      <ion-slide class="swiper-slide" *ngFor="let picture of place.pictures">
        <img [src]="'https://test.sportihome.com/uploads/places/'+place._id+'/large/'+picture">
      </ion-slide>
    </ion-slides>
    <a (click)="showUser(place.owner._id)">
      <img class="profilePic" width="80" height="80" [src]="place.owner && place.owner.avatar && 'https://test.sportihome.com/uploads/users/'+place.owner._id+'/thumb/'+place.owner.avatar || 'https://test.sportihome.com/assets/users/default-avatar.png'" alt="Olivier">
    </a>
  </div>

  <div class="item-detail" padding *ngIf="place">
    <p text-center class="no_margin bold" *ngIf="place.owner && place.owner.firstName">{{place.owner.firstName}}</p>
    <!-- =================================================================================  -->
    <!-- ================================= Place Infos ===================================  -->
    <!-- =================================================================================  -->
    <h1 class="no_margin" *ngIf="place.name">{{place.name}}</h1>
    <h2 *ngIf="place.address && place.address.locality && place.address.country">Logement à {{place.address.locality}}, {{place.address.country}}</h2>
    <ion-grid  *ngIf="place.home && place.home.propertyType && place.private && place.home.travellers">
      <ion-row>
        <ion-col col-4 text-center>
          <p class="no_margin"><i class="sp-mobile-{{place.home.propertyType}} f30"></i></p>
          {{place.home.propertyType}}
        </ion-col>
        <ion-col col-4 text-center>
          <p class="no_margin"><i [ngClass]="{'sp-mobile-private2': (place.private == 'Logement entier'), 'sp-mobile-chambre-privee': (place.private == 'Chambre privée'), 'sp-mobile-chambre-partagee' : (place.private == 'Chambre partagée')}" class="f30"></i></p>
          {{place.private}}
        </ion-col>
        <ion-col col-4 text-center>
          <p class="no_margin"><i class="sp-mobile-tourist f30"></i></p>
          {{place.home.travellers}} voyageur<span *ngIf="place.home.travellers > 1">s</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr/>
    <!-- =================================================================================  -->
    <!-- ================================= Activités =====================================  -->
    <!-- =================================================================================  -->
    <h2>Activités à proximités</h2>
    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let hobby of place.hobbies" text-center>
          <i class="sp-mobile-{{hobby}} f30"></i>
          <p class="no_margin">{{hobby}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr/>
    <!-- =================================================================================  -->
    <!-- ================================= À PROPOS ======================================  -->
    <!-- =================================================================================  -->
    <h2>A propos de ce logement</h2>
    <p text-justify>{{place.about}}</p>
    <ion-list>
      <button class="pl1" ion-item (click)="equipementsModal()">
          Équipements
      </button>
      <button class="pl1" ion-item>
          Services
      </button>
      <button class="pl1" ion-item>
          Règlement
      </button>
    </ion-list>
    <!-- =================================================================================  -->
    <!-- ================================= Spot Comments =================================  -->
    <!-- =================================================================================  -->
    <h2 *ngIf="comments && comments.length">Ils ont noté ce spot <span style="float: right">{{comments.length}} avis</span></h2>

    <div *ngIf="comments && comments.length">
      <ion-item *ngFor="let comment of comments">
        <ion-grid>
          <ion-row>
            <ion-col col-3 text-center>
              <a (click)="showUser(comment.guest._id._id)">
                <img class="img-user" width="50px" height="50px" [src]="comment.guest._id.avatar && 'https://test.sportihome.com/uploads/users/'+comment.guest._id._id+ '/large/'+comment.guest._id.avatar || comment.guest._id.facebook.avatar || 'https://test.sportihome.com/assets/users/default-avatar.png'" alt="{{comment.guest._id.identity.firstName}}" />
              </a>
            </ion-col>
            <ion-col col-5 text-center>
              <p>{{comment.guest._id.identity.firstName}}</p>
              <p class="rating"><rating [ngModel]="comment.host.comment.overallRating" readOnly="true"></rating></p>
            </ion-col>
            <ion-col col-4 text-center *ngIf="comment && comment.guest && comment.guest._id.hobbies && comment.guest._id.hobbies.length">
              <div style="display: inline-flex" *ngIf="comment.guest._id.hobbies[0]"> <i class="sp-mobile-{{comment.guest._id.hobbies[0]}} f20"></i></div>
              <div style="display: inline-flex" *ngIf="comment.guest._id.hobbies[1]"> <i class="sp-mobile-{{comment.guest._id.hobbies[1]}} f20"></i></div>
              <div style="display: inline-flex" *ngIf="comment.guest._id.hobbies[2]"> <i class="sp-mobile-{{comment.guest._id.hobbies[2]}} f20"></i></div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p text-justify text-wrap>{{comment.host.comment.content}}</p>
      </ion-item>
    </div>
    <!-- <div id="placeMap" style="width: 100%; height: 40vh;"></div> -->

  </div>
</ion-content>
