<ion-header [elasticHeader]="myContent" [(scrolled)]="scrolled" (scrollEvent)="scrolledToggle()">

  <ion-navbar>
  </ion-navbar>
  <!-- <div class="heart" tappable (click)="setFavoriteStatus($event ,place._id)" end>
    <i class ="f30" [ngClass]='(favorite === true)? "sp-mobile-heart-full" : "sp-mobile-heart"'></i>
  </div> -->
  <div class="heart" tappable (click)="setFavoriteStatus($event ,place._id)" end>
    <i class='sp-mobile-heart f30' *ngIf="favorite === false"></i>
    <i class="sp-mobile-heart-full f30" [ngClass]="{'heart-opacity': favorite === false}"></i>
  </div>
</ion-header>

<ion-content fullscreen #myContent>
  <!-- =================================================================================  -->
  <!-- ================================= imageSlider ===================================  -->
  <!-- =================================================================================  -->
  <div class="imageSlider" *ngIf="place">
    <ion-slides class="imageSlider" pager="true" paginationType="fraction" slides-per-view="1" autoplay="5000" loop="false" zoom="true" (ionSlideDidChange)="slideChanged()">
      <ion-slide class="swiper-slide" *ngFor="let picture of place.pictures">
        <!-- <img [src]="'https://test.sportihome.com/uploads/places/'+place._id+'/large/'+picture"> -->
        <img class="lazyImg" *ngIf="place.pictures" [defaultImage]="defaultImage" [lazyLoad]="'https://test.sportihome.com/uploads/places/'+place._id+'/large/'+picture" [offset]="offset" [scrollObservable]="imageChange$">
      </ion-slide>
    </ion-slides>

    <a (click)="showUser(place.owner._id)">
      <img class="profilePic" width="80" height="80" [src]="place.owner && place.owner.avatar && 'https://test.sportihome.com/uploads/users/'+place.owner._id+'/thumb/'+place.owner.avatar || 'https://test.sportihome.com/assets/users/default-avatar.png'" alt="Olivier">
    </a>
  </div>

  <div class="item-detail" padding *ngIf="place" class="pb20">
    <p text-center class="no_margin bold" *ngIf="place.owner && place.owner.firstName">{{place.owner.firstName}}</p>
    <!-- =================================================================================  -->
    <!-- ================================= Place Infos ===================================  -->
    <!-- =================================================================================  -->
    <h1 class="no_margin" *ngIf="place.name">{{place.name}}</h1>
    <h2 *ngIf="place.address && place.address.locality && place.address.country">Logement à {{place.address.locality}}, {{place.address.country}}</h2>
    <ion-grid  *ngIf="place.home && place.home.propertyType && place.private && place.home.travellers">
      <ion-row>
        <ion-col col-4 text-center>
          <p class="no_margin"><i class="sp-mobile-{{place.home.propertyType}} f30"></i></p>
          {{place.home.propertyType}}
        </ion-col>
        <ion-col col-4 text-center>
          <p class="no_margin"><i [ngClass]="{'sp-mobile-private2': (place.private == 'Logement entier'), 'sp-mobile-chambre-privee': (place.private == 'Chambre privée'), 'sp-mobile-chambre-partagee' : (place.private == 'Chambre partagée')}" class="f30"></i></p>
          {{place.private}}
        </ion-col>
        <ion-col col-4 text-center>
          <p class="no_margin"><i class="sp-mobile-tourist f30"></i></p>
          {{place.home.travellers}} voyageur<span *ngIf="place.home.travellers > 1">s</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr/>
    <!-- =================================================================================  -->
    <!-- ================================= Activités =====================================  -->
    <!-- =================================================================================  -->
    <h2 text-center>Activités à proximités</h2>
    <ion-grid *ngIf="place.hobbies && place.hobbies.length == 3">
      <ion-row>
        <ion-col col-4 *ngFor="let hobby of place.hobbies" text-center>
          <i class="sp-mobile-{{hobby}} f30"></i>
          <p class="no_margin">{{hobby}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="place.hobbies && place.hobbies.length == 2">
      <ion-row>
        <ion-col col-6 *ngFor="let hobby of place.hobbies" text-center>
          <i class="sp-mobile-{{hobby}} f30"></i>
          <p class="no_margin">{{hobby}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div text-center>
      <p class="mb1"><i class="sp-mobile-{{place.hobbies[0]}} f30"></i></p>
      <p class="no_margin">{{place.hobbies[0]}}</p>
    </div>
    <hr/>
    <!-- =================================================================================  -->
    <!-- ================================= À PROPOS ======================================  -->
    <!-- =================================================================================  -->
    <h2 text-center>A propos de ce logement</h2>
    <p text-center><img width="70px" height="70px" [src]="'/assets/imgs/engagements/' + place.engagement + '.svg'" alt="Engagement {{place.engagement}}"></p>
    <p text-justify>{{place.about}}</p>
    <ion-list>
      <button *ngIf="place.equipments && (place.equipments.cosiness.length || place.equipments.entertainment.length || place.equipments.hygiene.length || place.equipments.kitchen.length || place.equipments.serenity.length)" class="pl1 ios" ion-item (click)="equipementsModal()">
          Équipements
      </button>
      <button *ngIf="place.services && place.services.length" class="pl1 ios" ion-item (click)="servicesModal()">
          Services
      </button>
      <button *ngIf="place.rules && place.rules.length" class="pl1 ios" ion-item (click)="reglementsModal()">
          Règlement
      </button>
    </ion-list>

    <!-- =================================================================================  -->
    <!-- ================================= Place Notations ===============================  -->
    <!-- =================================================================================  -->
    <h2 *ngIf="comments && comments.length" class="rating mb1">{{comments.length}} Commentaire<span *ngIf="comments.length > 1">s</span> <rating class="inline" [ngModel]="place.rating.overallRating" readOnly="true"></rating></h2>

    <ion-grid *ngIf="comments && comments.length">
      <ion-row class="rating allRatings">
        <ion-col col-6>
          <div class="hobbnb_normal bold">Propreté</div>
          <div><rating [ngModel]="place.rating.cleanness" readOnly="true"></rating></div>
          <div class="hobbnb_normal bold">Emplacement</div>
          <div><rating [ngModel]="place.rating.location" readOnly="true"></rating></div>
          <div class="hobbnb_normal bold">Conformité</div>
          <div><rating [ngModel]="place.rating.conformity" readOnly="true"></rating></div>
        </ion-col>
        <ion-col col-6>
          <div class="hobbnb_normal bold">Qualité / prix</div>
          <div><rating [ngModel]="place.rating.valueForMoney" readOnly="true"></rating></div>
          <div class="hobbnb_normal bold">Accueil</div>
          <div><rating [ngModel]="place.rating.reception" readOnly="true"></rating></div>
          <div class="hobbnb_normal bold">Communication</div>
          <div><rating [ngModel]="place.rating.communication" readOnly="true"></rating></div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- =================================================================================  -->
    <!-- ================================= Place Comments ================================  -->
    <!-- =================================================================================  -->
    <div *ngIf="comments && comments.length">
      <ion-item *ngFor="let comment of comments">
        <ion-grid>
          <ion-row>
            <ion-col col-3 text-center>
              <a (click)="showUser(comment.guest._id._id)">
                <img class="img-user" width="50px" height="50px" [src]="comment.guest._id.avatar && 'https://test.sportihome.com/uploads/users/'+comment.guest._id._id+ '/large/'+comment.guest._id.avatar || comment.guest._id.facebook.avatar || 'https://test.sportihome.com/assets/users/default-avatar.png'" alt="{{comment.guest._id.identity.firstName}}" />
              </a>
            </ion-col>
            <ion-col col-5 text-center>
              <p>{{comment.guest._id.identity.firstName}}</p>
              <p class="rating"><rating [ngModel]="comment.host.comment.overallRating" readOnly="true"></rating></p>
            </ion-col>
            <ion-col col-4 text-center *ngIf="comment && comment.guest && comment.guest._id.hobbies && comment.guest._id.hobbies.length">
              <div style="display: inline-flex" *ngIf="comment.guest._id.hobbies[0]"> <i class="sp-mobile-{{comment.guest._id.hobbies[0]}} f20"></i></div>
              <div style="display: inline-flex" *ngIf="comment.guest._id.hobbies[1]"> <i class="sp-mobile-{{comment.guest._id.hobbies[1]}} f20"></i></div>
              <div style="display: inline-flex" *ngIf="comment.guest._id.hobbies[2]"> <i class="sp-mobile-{{comment.guest._id.hobbies[2]}} f20"></i></div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p text-justify text-wrap>{{comment.host.comment.content}}</p>
      </ion-item>
    </div>
    <div *ngIf="scrolled">
        <!-- =================================================================================  -->
        <!-- ================================= MAP ===========================================  -->
        <!-- =================================================================================  -->
        <div text-center class="mt20">
          <img class="object-fit_cover br6" width="95%" height="auto"  src="https://maps.googleapis.com/maps/api/staticmap?center={{place.loc.coordinates[1]+0.0003}},{{place.loc.coordinates[0]+0.0003}}&zoom=10&scale=false&size=1200x300&maptype=roadmap&key=AIzaSyBYYCQdKfSXGriTYBXEyrFPzxXVJoegbHQ&format=jpg&visual_refresh=true&markers=icon:https://sportihome.com/assets/search/{{place.home.propertyType}}.png%7Cshadow:false%7C{{place.loc.coordinates[1]+0.0003}},{{place.loc.coordinates[0]+0.0003}}" alt="Google Map of {{place.loc.coordinates[1]+0.0003}},{{place.loc.coordinates[0]+0.0003}}">
        </div>
        <!-- <div id="placeMap" style="width: 100%; height: 40vh;"></div> -->

        <!-- =================================================================================  -->
        <!-- ============================== Places, Spots Near ===============================  -->
        <!-- =================================================================================  -->
        <h2 *ngIf="spotsNearBy && spotsNearBy.length">Spots à proximité</h2>
        <ion-slides *ngIf="spotsNearBy && spotsNearBy.length" #spotsNearBySlider (ionSlideDidChange)="slideSpotsChanged()" zoom="false" class="mt20">
          <ion-slide *ngFor="let spot of spotsNearBy">
            <card-spot [spot]="spot"></card-spot>
          </ion-slide>
        </ion-slides>

        <h2 *ngIf="placesNearBy && placesNearBy.length">Logements à proximité</h2>
        <ion-slides *ngIf="placesNearBy && placesNearBy.length" #placesNearBySlider (ionSlideDidChange)="slidePlacesChanged()" zoom="false" class="mt20">
          <ion-slide *ngFor="let place of placesNearBy">
            <card-place [place]="place"></card-place>
          </ion-slide>
        </ion-slides>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <span style="line-height: 52px; color:#555F61;" class="pl10 bold f16">{{place?.home?.price?.defaultPrice}}€ / nuit</span>
    <button ion-button round color="secondary" style="float: right" (click)="openConstruction()">Demande de réservation</button>
  </ion-toolbar>
</ion-footer>
