
<ion-header>

  <ion-navbar hide-tabs>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content hide-tabs>
  <ion-list>
    <button *ngIf="!isLog"[navPush]="login" ion-item>
      Se connecter
    </button>
    <button *ngIf="!isLog"[navPush]="signin" ion-item>
      S'inscrire
    </button>
    <button *ngIf="isLog" (click)="logout()" ion-item>
      Se déconnecter
    </button>
    <button *ngIf="isLog"[navPush]="myProfile" ion-item>
      Mon profil
    </button>
    <button [navPush]="comment" ion-item>
      <i item-start class="sp-mobile-compas f20"></i> Comment ça marche
    </button>
    <button [navPush]="condition" ion-item>
      <i item-start class="sp-mobile-legal f20"></i> Conditions
    </button>
    <button [navPush]="why" ion-item>
      <i item-start class="sp-mobile-why f20"></i> Pourquoi ?
    </button>
    <button [navPush]="contact" ion-item>
      <i item-start class="sp-mobile-contact f20"></i> Contactez-nous
    </button>
    <button [navPush]="about" ion-item>
      <i item-start class="sp-mobile-bulb f20"></i> À propos
    </button>
    <a ion-item href="http://magazine.sportihome.com" target="_blank">
      <i item-start class="sp-mobile-magazine f20"></i> Magazine
    </a>
  </ion-list>
</ion-content>
